@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap");
:root {
  --color1: #0b0d17;
  --color2: #d0d6f9;
  --color3: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
header,
footer,
section {
  width: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
  font-weight: 100;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
}

p {
  line-height: 1.6;
  font-weight: 100;
}

ul {
  list-style: none;
}

li {
  padding: 1rem;
}
a {
  text-decoration: none;
  color: var(--color3);
  font-weight: 100;
}
span {
  font-weight: 100;
}
/*Common styling between sections and header*/
#home,
#destinations,
#crew,
#technology {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-hero,
.inner-destinations,
.inner-crew,
.inner-technology {
  display: flex;
  max-width: 1000px;
  height: 600px;
  margin: 2rem auto;
}

.inner-destinations,
.inner-crew,
.inner-technology {
  flex-direction: column;
}
.title {
  margin: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: left;
}
.title span {
  color: rgb(255, 255, 255, 0.5);
  margin-right: 0.77rem;
  font-size: 2em;
}
.title h2 {
  color: var(--color3);
  font-size: 2.25em;
  font-family: "Bellefair", serif;
}
.slides {
  max-width: 960px;
  height: inherit;
  overflow: hidden;
  left: 2rem;
  right: 2rem;
}
.destination-slide,
.member-slide,
.tech-slide {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.destination-image,
.member-image,
.tech-image {
  width: 480px;

  text-align: center;
}
.destination-details,
.member-details,
.technology-details {
  width: 480px;
  display: flex;
}
/*Header*/
#home {
  background-image: url(./assets/home/background-home-desktop.jpg);
}

/*Styling Navigation and logo*/
.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  margin: 1rem;
}

nav {
  width: 700px;
  background: rgb(11, 13, 23, 0.5);
  position: relative;
}

nav::after {
  content: "";
  position: absolute;
  display: block;
  width: 500px;
  height: 1px;
  background: rgb(255, 255, 255, 0.3);
  right: 96%;
  top: 63%;
}

.menu-icon {
  display: none;
  float: right;
  cursor: pointer;
  margin: 1rem;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-list li {
  display: flex;
  color: var(--color3);
  font-family: "Barlow", sans-serif;
  padding-top: 2rem;
  letter-spacing: 2.7px;
  font-size: 1em;
}
.menu-list li:hover {
  border-bottom: 2px solid rgb(255, 255, 255, 0.5);
}
.menu-list li span {
  margin-right: 0.5rem;
}

.menu-list.active {
  right: 0;
}
.currentLink {
  border-bottom: 2.5px solid var(--color3);
}
.currentBtn {
  background-color: var(--color3);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/*************Styling hero**********/
.sub-hero {
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.left-hero {
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.left-hero h3 {
  font-size: 0.875em;
  letter-spacing: 2.35px;
}
.left-hero p {
  width: 400px;
  margin: auto;
}
.left-hero h3,
.left-hero p {
  color: var(--color2);
}
.left-hero h1 {
  color: var(--color3);
  font-size: 9.375em;
}
.right-hero button {
  width: 200px;
  height: 200px;
  font-size: 1.75em;
  outline: none;
  border: none;
  border-radius: 50%;
  background: var(--color3);
  transition: 0.6s ease-in-out;
}
.right-hero button:hover {
  box-shadow: 0 0 12px 40px rgb(255, 255, 255, 0.3);
}
/*Destinations*/
#destinations {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
}
.destination-details {
  flex-direction: column;
}
.destination-details > div {
  padding: 1rem;
}
.destination-image img {
  width: 300px;
}
.dest-links span {
  font-size: 1em;
  font-family: "Barlow", sans-serif;
  padding: 0.3rem;
  cursor: pointer;
  color: var(--color3);
  text-align: center;
  letter-spacing: 2.7px;
}

.dest-links span:hover {
  border-bottom: 3px solid rgb(255, 255, 255, 0.5);
}

.dest-details h1 {
  font-size: 3em;
  font-family: "Bellefair", serif;
  color: var(--color3);
}
.dest-details p {
  color: var(--color2);
}
.measurements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.77px solid var(--color2);
}
.measurements h4 {
  color: var(--color2);
  font-family: "Bellefair", serif;
}
.measurements h3 {
  color: var(--color3);
  font-family: "Bellefair", serif;
}

/*Crew*/
#crew {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
}

.crew-details > div {
  padding: 1rem;
}
.crew-details,
.member-details {
  flex-direction: column;
}
.member-details h1 {
  font-family: "Bellefair", serif;
  font-size: 3em;

  color: var(--color3);
  margin-bottom: 1.77rem;
}
.member-details h2 {
  font-family: "Bellefair", serif;
  font-size: 2.25em;
  color: rgb(255, 255, 255, 0.4);
  margin-bottom: 1rem;
}
.member-details p {
  color: var(--color2);
}

.member-image img {
  width: 100%;
  height: 560px;
  object-fit: contain;
}
.indicators {
  display: flex;
  justify-content: center;
}
.indicators span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0.3rem;
  border: 2px solid #000;
  cursor: pointer;
}
.indicators span:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

/*Technology*/
#technology {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
}
.technology-details > div {
  padding: 1rem;
}
.on-off-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.on-off-btns span {
  width: 60px;
  height: 60px;
  border: 1px solid var(--color2);
  border-radius: 50%;
  color: var(--color2);
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3em;
  cursor: pointer;
}
.on-off-btns span:hover {
  background-color: rgb(255, 255, 255, 0.5);
  color: var(--color1);
}
.tech-details {
  width: 400px;
}
.tech-details h4 {
  font-family: "Bellefair", serif;
  color: var(--color2);
  margin-bottom: 1rem;
}
.tech-details h2 {
  font-size: 2.25em;
  color: var(--color3);
  margin-bottom: 1rem;
}

.tech-details p {
  color: var(--color2);
}

.tech-image img {
  width: 460px;
}
